<!doctype html>
<html>
<head>
    <title>Aggiungi Libro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Nuovo Libro</h1>
    <form method="POST">
        <input type="text" name="titolo" placeholder="Titolo" required>
        <input type="text" name="autore" placeholder="Autore" required>
        <button type="submit">Aggiungi</button>
    </form>
    <a href="{{ url_for('collezione', collezione_id=collezione_id) }}">← Torna alla Collezione</a>
</body>
</html>

